/* MCQPage.css */
.mcq-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mcq-page h1 {
  text-align: center;
  color: #333;
}

.mcq-container {
  margin-top: 20px;
}

.mcq {
  margin-bottom: 20px;
}

.mcq h3 {
  margin-bottom: 10px;
}

.mcq-options {
  display: flex;
  flex-direction: column;
}

.mcq-option {
  margin-bottom: 8px;
  font-size: 16px;
}

.mcq-option input {
  margin-right: 10px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.mcq-result h2 {
  text-shadow: none !important;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  color: #007bff !important;
}
